body {
  background-color: #c6e0ec;
  font-family: sans-serif;
}

h1 {
  font-size: 3rem;
  text-transform: uppercase;
  text-decoration: underline;
  text-align: center;
}

h2 {
  background-color: #4099bf;
  font-size: 2rem;
}

blockquote {
  font-style: oblique;
}

pre {
  background-color: white;
}

h3 {
  background-color: #79b8d2;
  color: white;
  font-size: 1.5rem;
}

p {
  text-align: justify;
}

address {
  font-family: serif;
  font-style: normal;
  text-align: right;
}
